.card {
  width: 100%;
  margin: 1em auto;
  display: flex;
  color: inherit;
  border: 3px solid #000000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 2px rgb(152, 235, 156);
  overflow: hidden;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.previewContainer {
  width: 390px;
  max-width: 400px;
  aspect-ratio: 1/1;
  border-right: 3px solid black;
  overflow: hidden;
  background-color: white;
}

.previewImage {
  min-height: 100%;
  min-width: 100%;
}

.projectInfo {
  width: calc(100% - 390px);
  padding: 1.5em 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 225, 186);
}

.projectTitle {
  margin: 0;
  font-size: 30px;
}

.projectDetail {
  height: 42%;
  margin: 1.2em 0;
  font-size: 19px;
  font-weight: 600;
}

.skillset {
  margin: 1em 0;
  font-weight: bold;
  font-size: 19px;
}

.skillCard {
  color: rgb(178, 0, 0);
  border: 2px groove rgb(255, 0, 0);
  margin: 0 10px 0 0;
  padding: 2px 5px;
}

.projectLink {
  margin: 0.1em 0 1em 0;
  font-size: 18px;
  display: flex;
}

.linkLabel,
.linkLabelFlip {
  margin: 0 10px 0 0;
  padding: 4px 8px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.linkLabel {
  color: white;
  background-color: hsl(268, 100%, 47%);
  box-shadow: 1px 2px 4px 1px hsl(268, 71%, 59%);
}

.linkLabelFlip {
  color: hsl(268, 100%, 47%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 2px 4px 1px hsl(0, 0%, 74%);
}

.linkLabel:hover {
  background-color: hsl(268, 100%, 65%);
  transform: translateY(-2px);
}

.linkLabelFlip:hover {
  color: hsl(268, 100%, 65%);
  transform: translateY(-2px);
}