.container {
  height: 100%;
  padding: 0 0.5rem;
}

.tabColumn {
  width: 30%;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
}

.navImage {
  width: 206px;
  margin: 0 0 3em 0;
  transition: all 0.3s linear;
}

.navImage:hover {
  border-radius: 20px;
  background-color: #43dd58;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 100%;
}

.navButton {
  margin: 1em 0;
  padding-left: 0.5em;
  font-size: 34px;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-family: Roboto;
}

.mainContent {
  width: 70%;
  height: 80%;
  margin: auto 0;
  float: right;
  overflow: hidden;
}
